
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nav Anim</title>
  <link rel="stylesheet" href="../static/stylesheets/style.css" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>
<body data-barba="wrapper">
  <ul class="transition">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <header>
    <div class="wrapper">
      <button class="header_button nav-btn-js" type="button"></button>
      <nav class="header_nav nav-js" data-active="false">
        <ul class="header_menu">
          <li class="header_menu-item"><a href="/">Home</a></li>
          <li class="header_menu-item"><a href="/projects">Projects</a></li>
          <li class="header_menu-item"><a href="/about">About</a></li>
          <li class="header_menu-item"><a href="/contact">Contact</a></li>
        </ul> 
      </nav>
    </div>
  </header>

  <main data-barba="container" data-barba-namespace="home">
    
    <div class="left hover-this">
      	<h1><span>My</span> <span>Projects*</span></h1>
      	<div class="projects">
      		<div class="project"></div>
      		<div class="project"></div>
      		<div class="project"></div>
      		<div class="project"></div>
      	</div>
     	<a href="/">Take me home.</a>
    </div>
    <div class="cursor"></div>
  </main>


<script src="https://unpkg.com/@barba/core"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/circular-revealer@0.0.8/dist/index.iife.js"></script>
<script src="static/scripts/index.js"></script>
<script src="static/scripts/cursor.js"></script>
</body>
</html>

